html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

div.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
}

#game-board{
    border: 4px #6287a2 solid;
    width: 800px;
    margin-top: 100px;
    background-color: #efd199;
    border-radius: 8px;
}

#game-title{
    background-color: #ce8f5a;
    border-bottom: 4px #6287a2 solid;
}

h1 {
    color:  #fff ;
}

#game-nav {
    height: 100px;
}

#start-game {
    background-color: #707070;
    border-color: #515152;
    width: 300px;
}


#game-container {
    margin: 8px;
    margin-bottom: 30px;
}


#choice-display {
    border: 4px #6287a2 solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80c8bc;
}

#choice-inner-border {
    border: 2px  #6287a2 solid;
    height: 300px;
}

#player-choice {
    width: 200px;
    height: 300px;
}

#computer-choice{
    width: 200px;
    height: 300px;
}

button {
    margin: 8px;
    background-color: #306da8;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #011e66;
    width: 100px;
}